<ion-view title="Contato" id="page10" style="background-color:#3B85F0;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <div id="contato-markdown6" style="color:#000000;font-size:24px;text-align:center;">
                <p>
                    <strong>FALE CONOSCO</strong>
                </p>
            </div>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input">
                <span class="input-label">Nome</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span><textarea placeholder=""> </textarea>
            </label>
            <div class="spacer" style="height: 100px;"></div>
            <div id="contato-markdown7" style="color:#000000;font-size:17px;">
                <p>
                    <strong>MENSAGEM</strong>
                </p>
            </div>
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>