<ion-view title="Empresa" id="page3" style="background-color:#3B85F0;">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="empresa-heading6" style="color:#FFFFFF;">Etec Ruth Cardoso</h1>
        <div>
            <img src="img/WLCAEXw1RY6OuDiJg3zw_etecdrc.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="empresa-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;">+</h1>
        <h2 id="empresa-heading7" style="color:#FFFFFF;text-align:center;">Centro Paula Souza</h2>
        <div>
            <img src="img/JcLoNkUqSe292hTlu8Fx_centro_paula_souza.jpg" width="80%" height="125" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>