<ion-view title="Produto" id="page2" style="background-color:#3B85F0;">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="produto-heading3" style="color:#000000;text-align:center;">Objetivo do curso</h1>
        <div>
            <img src="img/vcPVaZRVTXmjXAMSF5Ni_calendario_celular.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div id="produto-markdown5" style="color:#000000;font-size:23px;text-align:center;">
            <p>
                <strong>Ao final do curso os alunos deverão entregar um App que cuidará do calendário do corpo docente da Etec DRC e de seus alunos.</strong>
            </p>
        </div>
    </ion-content>
</ion-view>